.summary{
    display: grid;
    grid-template-columns: 83px 225px 249px 280px 107px 101px;
    grid-auto-rows: 72px;
}

.header{
    display: flex;
    width: 944px;
    justify-content: space-between;
}

.font{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.tysm{
    display: flex;
    width: 1045px;
    justify-content: flex-end;
}

.typo{
    padding-right: 50px;
}

.download{
    display: flex;
    justify-content: flex-end;
    width: 1045px;
}


.grid-item{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.Amount{
    grid-column: span 2;
}

.items{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}